@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the My Scripture Journal page. A place to record scriptures that have led to inspiration, sentiment, or other connections. You can record the scripture reference, and add a personal note. Click on My Scripture Journal to get started.</p>
    <img src="~/img/scriptures.jpg" alt="Scriptures on Desk" height="338" width="600" />
</body>
